@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Mabry';
	src: url('font/MabryPro-Regular.woff2');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Mabry';
	src: url('font/MabryPro-Bold.woff2');
	font-style: normal;
	font-weight: 700;
}